body {
    font-family: Arial, sans-serif;
    background: #e0eac3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    margin: 5px;
}

canvas {
    margin-top: 20px;
}

#weather-info {
    margin-bottom: 20px;
}

#current-weather {
    margin-bottom: 20px;
}
canvas {
    margin-top: 20px;
    width: 1000px;
    height: 600px;
}